avionai.co {
    root * /srv/avionai.co
    file_server
}

n8n.avionai.co {
    reverse_proxy n8n:5678 {
      flush_interval -1
    }
}

www.avionai.co {
    redir https://avionai.co{uri}
}

ocr.avionai.co {
    reverse_proxy 172.17.0.1:6000 {
        transport http {
            read_timeout 120s
            write_timeout 120s
        }
    }
}

ollama.yourdomain.com {
    encode gzip

    @api {
        path /api/*
        path /v1/*
    }

    reverse_proxy @api 127.0.0.1:11434 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
    }
}

